/* Pretendard-Bold */
@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Bold.otf') format('opentype'),
    url('Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Pretendard-Light */
@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Light.otf') format('opentype'),
    url('Pretendard-Light.woff') format('woff');
    font-weight: 300; /* Light */
    font-style: normal;
}

/* Pretendard-Regular */
@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Regular.otf') format('opentype'),
    url('Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
